{% extends 'base.html.twig' %}

{% block title %}RGPD
{% endblock %}

{% block body %}
	<div class="container-fluid text-white font">

		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<h1 class="mt-5 mb-5">
						<strong>Politique de confidentialité</strong>
					</h1>


					<p>On Air Music</p>

					<h2 class="mt-5 mb-5">ARTICLE 1 : PRÉAMBULE</h2>

					<p>La présente politique de confidentialité a pour but d’informer les utilisateurs du site :</p>
					<ul>
						<li>Sur la manière dont sont collectées leurs données personnelles. Sont considérées comme des données personnelles, toute information permettant d’identifier un utilisateur. À ce titre, il peut s’agir : de ses noms et prénoms, de son âge, de son adresse postale ou email, de sa localisation ou encore de son adresse IP (liste non-exhaustive) ;</li>
						<li>Sur les droits dont ils disposent concernant ces données ;</li>
						<li>Sur la personne responsable du traitement des données à caractère personnel collectées et traitées ;</li>
						<li>Sur les destinataires de ces données personnelles ;</li>
						<li>Sur la politique du site en matière de cookies.</li>
					</ul>
					<p>Cette politique complète les mentions légales et les Conditions Générales d’Utilisation consultables par les utilisateurs à l’adresse suivante :</p>
					<a href="[Insérer l'URL permettant d'accéder aux Conditions Générales d’Utilisation et aux mentions Légales]">[Accéder aux CGU et mentions légales]</a>


					<h2 class="mt-5 mb-5">ARTICLE 2 : PRINCIPES RELATIFS À LA COLLECTE ET AU TRAITEMENT DES DONNÉES PERSONNELLES</h2>
					<p>Conformément à l’article 5 du Règlement européen 2016/679, les données à caractère personnel sont :</p>
					<ul>
						<li>Traitées de manière licite, loyale et transparente au regard de la personne concernée ;</li>
						<li>Collectées pour des finalités déterminées, explicites et légitimes, et ne pas être traitées ultérieurement d'une manière incompatible avec ces finalités ;</li>
						<li>Adéquates, pertinentes et limitées à ce qui est nécessaire au regard des finalités pour lesquelles elles sont traitées ;</li>
						<li>Exactes et, si nécessaire, tenues à jour. Toutes les mesures raisonnables doivent être prises pour que les données à caractère personnel qui sont inexactes soient effacées ou rectifiées sans tarder ;</li>
						<li>Conservées sous une forme permettant l'identification des personnes concernées pendant une durée n'excédant pas celle nécessaire au regard des finalités pour lesquelles elles sont traitées ;</li>
						<li>Traitées de façon à garantir une sécurité appropriée des données collectées, y compris la protection contre le traitement non autorisé ou illicite et contre la perte, la destruction ou les dégâts d'origine accidentelle, à l'aide de mesures techniques ou organisationnelles appropriées.</li>
					</ul>

					<h3 class="mt-5 mb-5">Conditions de licéité du traitement des données</h3>

					<p>Le traitement n'est licite que si, et dans la mesure où, au moins une des conditions suivantes est remplie :</p>
					<ul>
						<li>La personne concernée a consenti au traitement de ses données à caractère personnel pour une ou plusieurs finalités spécifiques ;</li>
						<li>Le traitement est nécessaire à l'exécution d'un contrat auquel la personne concernée est partie ou à l'exécution de mesures précontractuelles prises à la demande de celle-ci ;</li>
						<li>Le traitement est nécessaire au respect d'une obligation légale à laquelle le responsable du traitement est soumis ;</li>
						<li>Le traitement est nécessaire à la sauvegarde des intérêts vitaux de la personne concernée ou d'une autre personne physique ;</li>
						<li>Le traitement est nécessaire à l'exécution d'une mission d'intérêt public ou relevant de l'exercice de l'autorité publique dont est investi le responsable du traitement ;</li>
						<li>Le traitement est nécessaire aux fins des intérêts légitimes poursuivis par le responsable du traitement ou par un tiers, à moins que ne prévalent les intérêts ou les libertés et droits fondamentaux de la personne concernée qui exigent une protection des données à caractère personnel, notamment lorsque la personne concernée est un enfant.</li>
					</ul>

					<p></p>

					<h2 class="mt-5 mb-3">ARTICLE 3 : DONNÉES À CARACTÈRE PERSONNEL COLLECTÉES ET TRAITÉES DANS LE CADRE DE LA NAVIGATION SUR LE SITE</h2>


					<h3 class="mt-5 mb-5">Article 3.1 : Données collectées</h3>

					<p>Les données personnelles collectées dans le cadre de notre activité sont les suivantes :</p>
					<ul>
						<li>[Listez les données collectées lors de l’utilisation du site]</li>
					</ul>
					<p>La collecte et le traitement de ces données répond à la (aux) finalité(s) suivante(s) :</p>
					<ul>
						<li>[Préciser la/les raison(s) pour laquelle/lesquelles la collecte de données personnelles est nécessaire]</li>
					</ul>
					<p>
						<em>Exemple : gestion de contrat, gestion de l’espace client, suivi de la qualité des services, envoi de newsletter, etc.</em>
					</p>

					<h3 class="mt-5 mb-5">Article 3.2 : Mode de collecte des données</h3>

					<p>Lorsque vous utilisez notre site, les données suivantes sont automatiquement collectées :</p>
					<ul>
						<li>[Liste des données automatiquement collectées lors de la simple visite de l’utilisateur sur le site]</li>
					</ul>
					<p>D’autres données personnelles sont collectées lorsque vous effectuez les opérations suivantes sur la plateforme :</p>
					<ul>
						<li>[Lister les données personnelles collectées, et préciser la finalité de la collecte]</li>
					</ul>

					<p>Elles sont conservées par le responsable du traitement dans des conditions raisonnables de sécurité, pour une durée de :</p>
					<ul>
						<li>[Indiquer la durée de conservation prévue]</li>
					</ul>
					<p>La société est susceptible de conserver certaines données à caractère personnel au-delà des délais annoncés ci-dessus afin de remplir ses obligations légales ou réglementaires.</p>

					<h3 class="mt-5 mb-5">Article 3.3 : Hébergement des données</h3>

					<p>Le site
						<strong>[Nom du site web]</strong>
						est hébergé par :</p>
					<ul>
						<li>[Dénomination sociale de l’entreprise]</li>
						<li>[Adresse du siège social]</li>
						<li>[Contact (adresse email et/ou numéro de téléphone)]</li>
					</ul>

					<h3 class="mt-5 mb-5">Article 3.4 : Transmission des données à des tiers</h3>

					<p>Les données peuvent être transmises à nos partenaires, ci-après énumérés :</p>
					<ul>
						<li>[Nom du partenaire 1]</li>
						<li>[Nom du partenaire 2]</li>
						<li>[Ajouter d'autres partenaires si nécessaire]</li>
					</ul>

					<h3 class="mt-5 mb-5">Article 3.5 : Politique en matière de cookies</h3>

					<p>Notre site utilise des cookies pour améliorer l'expérience utilisateur. Pour plus d'informations sur notre politique en matière de cookies, veuillez consulter [insérer le lien vers la page de politique des cookies].</p>

					<h2 class="mt-5 mb-5">ARTICLE 4 : RESPONSABLE DU TRAITEMENT DES DONNÉES ET DÉLÉGUÉ À LA PROTECTION DES DONNÉES</h2>


					<h3 class="mt-5 mb-5">Article 4.1 : Le responsable du traitement des données</h3>

					<p>Les données à caractère personnel sont collectées par
						<strong>[Raison ou dénomination sociale de l’entreprise]</strong>,
						<strong>[forme juridique]</strong>, au capital de
						<strong>[montant du capital social]</strong>, dont le numéro d’immatriculation est le
						<strong>[numéro RCS]</strong>.</p>
					<p>Le responsable du traitement des données à caractère personnel peut être contacté de la manière suivante :</p>
					<ul>
						<li>Par courrier à l’adresse :
							<strong>[adresse du siège social]</strong>
							;</li>
						<li>Par téléphone, au
							<strong>[numéro de téléphone]</strong>
							;</li>
						<li>Par mail :
							<strong>[email du responsable du traitement des données]</strong>.</li>
					</ul>

					<p></p>

					<h3 class="mt-5 mb-5">Article 4.2 : Le délégué à la protection des données</h3>

					<p>Le délégué à la protection des données de l’entreprise ou du responsable est :</p>
					<ul>
						<li>[Indiquez l’identité]</li>
						<li>[Adresse du DPO]</li>
						<li>[Numéro de téléphone]</li>
						<li>[Adresse email du DPO]</li>
					</ul>
					<p>Si vous estimez, après nous avoir contactés, que vos droits “Informatique et Libertés” ne sont pas respectés, vous pouvez adresser une réclamation à la CNIL.</p>

					<h2 class="mt-5 mb-5">ARTICLE 5 : LES DROITS DE L’UTILISATEUR EN MATIÈRE DE COLLECTE ET DE TRAITEMENT DES DONNÉES</h2>

					<p>Tout utilisateur concerné par le traitement de ses données personnelles peut se prévaloir des droits suivants, en application du règlement européen 2016/679 et de la Loi Informatique et Liberté (Loi 78-17 du 6 janvier 1978) :</p>
					<ul>
						<li>
							<strong>Droit d’accès</strong>, de rectification et droit à l’effacement des données (articles 15, 16 et 17 du RGPD) ;</li>
						<li>
							<strong>Droit à la portabilité</strong>
							des données (article 20 du RGPD) ;</li>
						<li>
							<strong>Droit à la limitation</strong>
							(article 18 du RGPD) et
							<strong>droit à l’opposition</strong>
							au traitement des données (article 21 du RGPD) ;</li>
						<li>
							<strong>Droit de ne pas faire l’objet d’une décision fondée exclusivement sur un procédé automatisé</strong>
							;</li>
						<li>
							<strong>Droit de déterminer le sort des données après la mort</strong>
							;</li>
						<li>
							<strong>Droit de saisir l’autorité de contrôle compétente</strong>
							(article 77 du RGPD).</li>
					</ul>
					<p>Pour exercer vos droits, veuillez adresser votre courrier à
						<strong>[Nom et adresse de l’entreprise]</strong>
						ou par mail à
						<strong>[Insérer l’adresse e-mail du Délégué à la protection des données]</strong>.</p>
					<p>Pour que le responsable du traitement des données puisse répondre à votre demande, il pourra vous être demandé certaines informations telles que vos noms et prénoms, votre adresse e-mail ainsi que votre numéro de compte, d’espace personnel ou d’abonné.</p>
					<p>Consultez le site
						<a href="https://www.cnil.fr">cnil.fr</a>
						pour plus d’informations sur vos droits.</p>

					<h2 class="mt-5 mb-5">ARTICLE 6 : CONDITIONS DE MODIFICATION DE LA POLITIQUE DE CONFIDENTIALITÉ</h2>

					<p>L’éditeur du site
						<strong>On Air Music</strong>
						se réserve le droit de modifier la présente Politique à tout moment afin d’assurer sa conformité avec le droit en vigueur.</p>
					<p>Les modifications apportées ne s’appliqueront pas aux achats antérieurs effectués sur le site, ceux-ci restant soumis à la Politique en vigueur au moment de l’achat et telle qu’acceptée par l’utilisateur lors de la validation de celui-ci.</p>
					<p>L’utilisateur est invité à consulter cette Politique à chaque utilisation de nos services, sans qu’il soit nécessaire de l’en informer formellement.</p>


				</div>

			</div>
		</div>
	</div>

{% endblock %}
