<footer class="text-center text-dark colori">
	<div class="container p-4 pb-0">
		<section>
			<p class="d-flex justify-content-center align-items-center">
				<span class="me-3">Pour créer un compte</span>
				<a class="footer-register btn btn-outline-light btn-rounded btn-color-footer" href="{{ path('app_register') }}">
					Cliquer ici!
				</a>
			</p>
		</section>
	</div>

	<div class="container-fluid text-center text-white p-3" style="background-color: #000000;">
		<div class="row">
			<div class="col-md-12">
				<a class="text-white" href="{{ path('app_rgpd') }}">Politique de confidentialité</a>
				<p class="mail" style="margin-top: 1rem;">Pour la gestion de vos données : mesdonnées@gmail.com</p>

				© 2024 Copyright:
				<a class="text-white" href="#">On Air Music</a>
			</div>
		</div>
	</div>
</footer>
